@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.body {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  color: #212121; }

.hipervinculo_1 {
  color: #027ab2;
  text-decoration: none;
  text-align: justify; }
  .hipervinculo_1:hover {
    color: #03A9F4;
    text-decoration: underline; }

.header .header__n {
  background-image: linear-gradient(to bottom, #212121, #343c49, #355c71, #1e8093, #00a5a5, #10b7b0, #24caba, #38dcc3, #66e0da, #93e3e9, #bbe5ee, #dee8ec); }
  .header .header__n .header__n_d .header__n_d_d .header__n_d_d_u {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*Le pude dar otro uso al mixin justify_align aparte de los valores (center, center)*/ }
    .header .header__n .header__n_d .header__n_d_d .header__n_d_d_u .header__n_d_d_u_l_1 .header__n_d_d_u_l_activo {
      text-decoration: underline; }
    .header .header__n .header__n_d .header__n_d_d .header__n_d_d_u .header__n_d_d_u_l_2 .header__n_d_d_u_l_ancla {
      color: #212121; }
      .header .header__n .header__n_d .header__n_d_d .header__n_d_d_u .header__n_d_d_u_l_2 .header__n_d_d_u_l_ancla:hover {
        text-decoration: underline;
        font-weight: 500;
        color: #303F9F; }

.header .header__d .header__d_d .header__d_d_titulos, .header .header__d .header__d_d .header__d_d_index {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./../assets/images/img_fondos_titulos.jpg);
  background-position: 100% center;
  background-size: cover;
  color: #ffffff;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /*Agrego mixin para simplificar d-flex justify-content y align-items de Bootstrap*/ }

.header .header__d .header__d_d .header__d_d_index {
  /*Agrego @extend para tomar propiedades de clase títulos y agrego operador SASS para modificar el tamaño del index*/
  height: 24vh; }

.footer {
  background-image: linear-gradient(to top, #212121, #343c49, #355c71, #1e8093, #00a5a5, #00aea8, #00b7a9, #00c0aa, #18b0ae, #399fa9, #518e9d, #607d8b); }
  .footer .footer__d .footer__d_d .footer__d_d_d {
    display: none; }
    .footer .footer__d .footer__d_d .footer__d_d_d .footer__d_d_d_ul .footer__d_d_d_ul_li {
      display: inline;
      margin: 15px;
      padding-inline: 15px; }
      .footer .footer__d .footer__d_d .footer__d_d_d .footer__d_d_d_ul .footer__d_d_d_ul_li .footer__d_d_d_ul_li_a {
        text-decoration: none;
        color: #ffffff; }
        .footer .footer__d .footer__d_d .footer__d_d_d .footer__d_d_d_ul .footer__d_d_d_ul_li .footer__d_d_d_ul_li_a:hover {
          color: #303F9F;
          text-decoration: underline; }
  .footer .footer__d .footer__d_d .footer__d_d_texto {
    font-weight: 1rem;
    color: #CFD8DC; }

.inicio__main .inicio__main_d .inicio__main_d_d .inicio__main_d_d_intro {
  font-style: italic;
  font-size: 1.5rem;
  color: #212121; }

.inicio__main .inicio__main_s .inicio__main_s_d .inicio__main_s_d_d .inicio__main_s_d_d_carrusel {
  width: 100%; }
  .inicio__main .inicio__main_s .inicio__main_s_d .inicio__main_s_d_d .inicio__main_s_d_d_carrusel .inicio__main_s_d_d_car_texto {
    color: #ffffff;
    background-color: hwb(0 0% 100%/0.2); }
  .inicio__main .inicio__main_s .inicio__main_s_d .inicio__main_s_d_d .inicio__main_s_d_d_carrusel .inicio__main_s_d_d_car_img {
    height: 25rem;
    background-position: center;
    object-fit: cover; }

.inicio__main .inicio__main_s2 .inicio__main_s2_d .inicio__main_s2_d_d {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .inicio__main .inicio__main_s2 .inicio__main_s2_d .inicio__main_s2_d_d .inicio__main_s2_d_d_cards {
    width: 22rem;
    height: 20rem;
    color: #455A64;
    background-color: #dee8ec;
    transition: 0.5s; }
    .inicio__main .inicio__main_s2 .inicio__main_s2_d .inicio__main_s2_d_d .inicio__main_s2_d_d_cards:hover {
      background-color: #ffffff;
      border-color: #027ab2; }
    .inicio__main .inicio__main_s2 .inicio__main_s2_d .inicio__main_s2_d_d .inicio__main_s2_d_d_cards .inicio__main_s2_d_d_cards_img {
      width: 5rem;
      height: 5rem; }
    .inicio__main .inicio__main_s2 .inicio__main_s2_d .inicio__main_s2_d_d .inicio__main_s2_d_d_cards .inicio__main_s2_d_d_cards_texto .inicio__main_s2_d_d_cards_texto_mod {
      font-size: 0.9rem; }
    .inicio__main .inicio__main_s2 .inicio__main_s2_d .inicio__main_s2_d_d .inicio__main_s2_d_d_cards .inicio__main_s2_d_d_cards_texto .inicio__main_s2_d_d_cards_texto_boton {
      background-color: #027ab2;
      color: #FFFFFF;
      font-size: 1rem; }

.conocenos__main .conocenos__main_d1 {
  display: flex;
  justify-content: center;
  align-items: center; }
  .conocenos__main .conocenos__main_d1 .conocenos__main_d1_d .conocenos__main_d1_d_bloque1 {
    text-align: justify;
    background-color: #CFD8DC;
    color: #212121;
    font-size: 1rem; }
  .conocenos__main .conocenos__main_d1 .conocenos__main_d1_d .conocenos__main_d1_d_d .conocenos__main_d1_d_d_img {
    background: url(./../assets/images/img_Dreambot.png);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 0 5px 5px 0;
    margin-right: 0; }

.conocenos__main .conocenos__main_d2 {
  background-color: #027ab2;
  color: #ffffff;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s; }
  .conocenos__main .conocenos__main_d2:hover {
    background-color: #03A9F4; }

.conocenos__main .conocenos__main_d3 {
  font-size: 1.2rem; }

.conocenos__main .conocenos__main_d4 .conocenos__main_d4_d {
  height: 45vh;
  width: 80vw; }
  .conocenos__main .conocenos__main_d4 .conocenos__main_d4_d .conocenos__main_d4_d_texto {
    background-color: #CFD8DC;
    text-align: justify;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #212121; }
  .conocenos__main .conocenos__main_d4 .conocenos__main_d4_d .conocenos__main_d4_d_mapa {
    border-color: #CFD8DC;
    background-color: #ffffff;
    border-radius: 0 0 5px 5px; }

.servicios__main .servicios__main_d .servicios__main_d_d .servicios__main_d_d_boton {
  background-color: #027ab2;
  color: #ffffff;
  font-weight: 400; }
  .servicios__main .servicios__main_d .servicios__main_d_d .servicios__main_d_d_boton:hover {
    background-color: #03A9F4; }

.servicios__main .servicios__main_d .servicios__main_d_d .servicios__main_d_d_b_d .servicios__main_d_d_b_d_d .servicios__main_d_d_b_d_d_card, .servicios__main .servicios__main_d .servicios__main_d_d .servicios__main_d_d_b_d .servicios__main_d_d_b_d_d .servicios__main_d_d_b_d_d_card--2 {
  background-color: #CFD8DC;
  border-color: #455A64; }
  .servicios__main .servicios__main_d .servicios__main_d_d .servicios__main_d_d_b_d .servicios__main_d_d_b_d_d .servicios__main_d_d_b_d_d_card .servicios__main_d_d_b_d_d_c_lista, .servicios__main .servicios__main_d .servicios__main_d_d .servicios__main_d_d_b_d .servicios__main_d_d_b_d_d .servicios__main_d_d_b_d_d_card--2 .servicios__main_d_d_b_d_d_c_lista, .servicios__main .servicios__main_d .servicios__main_d_d .servicios__main_d_d_b_d .servicios__main_d_d_b_d_d .servicios__main_d_d_b_d_d_card--2 .servicios__main_d_d_b_d_d_c_lista--2 {
    background-color: #ffffff;
    color: #455A64; }
    .servicios__main .servicios__main_d .servicios__main_d_d .servicios__main_d_d_b_d .servicios__main_d_d_b_d_d .servicios__main_d_d_b_d_d_card .servicios__main_d_d_b_d_d_c_lista .servicios__main_d_d_b_d_d_c_lista_ul .servicios__main_d_d_b_d_d_c_lista_ul_li, .servicios__main .servicios__main_d .servicios__main_d_d .servicios__main_d_d_b_d .servicios__main_d_d_b_d_d .servicios__main_d_d_b_d_d_card--2 .servicios__main_d_d_b_d_d_c_lista .servicios__main_d_d_b_d_d_c_lista_ul .servicios__main_d_d_b_d_d_c_lista_ul_li, .servicios__main .servicios__main_d .servicios__main_d_d .servicios__main_d_d_b_d .servicios__main_d_d_b_d_d .servicios__main_d_d_b_d_d_card--2 .servicios__main_d_d_b_d_d_c_lista--2 .servicios__main_d_d_b_d_d_c_lista_ul .servicios__main_d_d_b_d_d_c_lista_ul_li {
      margin-top: 10px; }

.servicios__main .servicios__main_d .servicios__main_d_d .servicios__main_d_d_b_d .servicios__main_d_d_b_d_d .servicios__main_d_d_b_d_d_card--2 {
  background-color: #ffffff; }
  .servicios__main .servicios__main_d .servicios__main_d_d .servicios__main_d_d_b_d .servicios__main_d_d_b_d_d .servicios__main_d_d_b_d_d_card--2 .servicios__main_d_d_b_d_d_c_lista--2 {
    background-color: #CFD8DC; }

.eventos__main .eventos__main_d1 .eventos__main_d1_d .eventos__main_d1_d_texto {
  color: #212121; }

.eventos__main .eventos__main_d2 .eventos__main_d2_cards {
  background-color: #CFD8DC;
  color: #455A64; }
  .eventos__main .eventos__main_d2 .eventos__main_d2_cards:hover {
    background-color: #FFFFFF;
    color: #212121;
    border-color: #027ab2;
    transition: 1s; }
  .eventos__main .eventos__main_d2 .eventos__main_d2_cards .eventos__main_d2_cards_d .eventos__main_d2_cards_d_d {
    display: flex;
    justify-content: center;
    align-items: center; }
    .eventos__main .eventos__main_d2 .eventos__main_d2_cards .eventos__main_d2_cards_d .eventos__main_d2_cards_d_d .eventos__main_d2_cards_d_d_img {
      background-position: 100%;
      object-fit: cover; }

.contactanos__main .contactanos__main_d1 .contactanos__main_d1_d .contactanos__main_d1_d_texto {
  color: #212121;
  font-size: 1.5rem; }

.contactanos__main .contactanos__main_d2 .contactanos__main_d2_d {
  display: flex;
  justify-content: center;
  align-items: center; }
  .contactanos__main .contactanos__main_d2 .contactanos__main_d2_d .contactanos__main_d2_d_formulario {
    width: 25rem;
    height: 24rem;
    background-image: linear-gradient(to right top, #212121, #343c49, #355c71, #1e8093, #00a5a5, #00adae, #00b5b8, #00bdc2, #00a8d5, #008fe9, #006fef, #2840d9);
    border-radius: 5px 5px 0 0;
    font-size: 0.8rem;
    color: #212121; }
    .contactanos__main .contactanos__main_d2 .contactanos__main_d2_d .contactanos__main_d2_d_formulario .contactanos__main_d2_d_formulario_d {
      color: #ffffff; }
    .contactanos__main .contactanos__main_d2 .contactanos__main_d2_d .contactanos__main_d2_d_formulario .contactanos__main_d2_d_formulario_d2 {
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .contactanos__main .contactanos__main_d2 .contactanos__main_d2_d .contactanos__main_d2_d_formulario .contactanos__main_d2_d_formulario_d2 .contactanos__main_d2_d_formulario_d_boton {
        width: 100px;
        height: 2rem;
        border-radius: 5px;
        border-width: 1px;
        background-color: #CFD8DC;
        transition: 0.5s; }
        .contactanos__main .contactanos__main_d2 .contactanos__main_d2_d .contactanos__main_d2_d_formulario .contactanos__main_d2_d_formulario_d2 .contactanos__main_d2_d_formulario_d_boton:hover {
          background-color: #ffffff; }
  .contactanos__main .contactanos__main_d2 .contactanos__main_d2_d .contactanos__main_d2_d_d {
    width: 25rem;
    height: 24rem;
    background-color: #CFD8DC;
    border-radius: 0 0 5px 5px;
    background: url(./../assets/images/img_formulario_.png);
    object-fit: contain;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center; }

.contactanos__main .contactanos__main_d3 .contactanos__main_d3_d {
  height: 5rem; }
  .contactanos__main .contactanos__main_d3 .contactanos__main_d3_d .contactanos__main_d3_d_texto {
    color: #212121;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center; }

@media (min-width: 768px) {
  .conocenos__main .conocenos__main_d4 .conocenos__main_d4_d .conocenos__main_d4_d_texto {
    order: 2;
    border-radius: 0px 5px 5px 0px; }
  .conocenos__main .conocenos__main_d4 .conocenos__main_d4_d .conocenos__main_d4_d_mapa {
    order: 1;
    border-radius: 5px 0 0 5px; }
  .contactanos__main .contactanos__main_d2 .contactanos__main_d2_d .contactanos__main_d2_d_formulario {
    order: 2;
    border-radius: 0 5px 5px 0; }
  .contactanos__main .contactanos__main_d2 .contactanos__main_d2_d .contactanos__main_d2_d_d {
    order: 1;
    border-radius: 5px 0 0 5px; }
  .footer .footer__d .footer__d_d .footer__d_d_d {
    display: inline-block; }
  .header .header__n .header__n_d .header__n_d_d .header__n_d_d_u .header__n_d_d_u_l_2 .header__n_d_d_u_l_ancla {
    color: #ffffff; }
  .header .header__d .header__d_d .header__d_d_titulos, .header .header__d .header__d_d .header__d_d_index {
    /*Agrego Operador SASS para definir el alto de la imagen en los títulos de las páginas y el index*/
    height: 36vh; }
  .header .header__d .header__d_d .header__d_d_index {
    height: 60vh; }
  .eventos__main .eventos__main_d2 .eventos__main_d2_cards .eventos__main_d2_cards_d {
    height: 12rem; } }
