@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: 62.5%; */
}
.encabezado__nav_lista_menu{
    text-decoration: none;
    display: inline-block;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
}
.encabezado__nav_lista_menu:hover{
    text-decoration: underline;
}
.titulo__index{
    background-image: url(./../assets/images/HOME.jpg);
    background-position: 100% bottom;
    background-size: cover;
    height: 40rem;
    width: 95%;
}
.titulo__index_img{
    text-align: center;
}
.titulos{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./../assets/images/CONOCENOS.jpg);
    background-position: 100%;
    background-size: cover;
    color: #FFFFFF;
}
.titulo__servicio{
    background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url(./../assets/images/SERVICIOS.jpg);
    background-position: bottom;
    background-size: cover;
    width: 95%;
    height: 200px;
    border-radius: 5px;
    margin-left: 30px;
}
.titulo__eventos{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url(./../assets/images/EVENTOS.jpg);
    background-position: 100% center;
    background-size: cover;
    width: 95%;
    height: 200px;
    border-radius: 5px;
    margin-left: 30px;
}
.titulo__contactanos{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./../assets/images/CONTÁCTANOS.jpg);
    background-position: 100% center;
    background-size: cover;
    width: 95%;
    height: 200px;
    border-radius: 5px;
}
.cuerpo{
    background-color: #607D8B;
}
.cuerpo__index_1{
    background-color: #607D8B;
    font-style: italic;
    color: #FFFFFF;
    font-size: 1.5rem;
}
.tarjeta{
    width: 22rem;
    height: 24rem;
}
.textoCard2{
    font-size: 0.9rem;
}

.imagen_card{
    width: 10rem;
    height: 10rem;
}
.carrusel{
    height: 25rem;
    width: 100%;
}
.imgCarrusel{
    height: 25rem;
}
.hipervinculo_1{
    color: #CFD8DC;
    text-decoration: none;
    text-align: justify;
}
.hipervinculo_1:hover{
    color: #36dcf3;
    text-decoration: underline;
}
.hipervinculo_2{
    color: #455A64;
    text-decoration: none;
    text-align: justify;
}
.hipervinculo_2:hover{
    color: #2196F3;
    text-decoration: underline;
}
.cajas__index_1{
    background-color: #607D8B;
    height: fit-content;
    color: #212121;
    text-align: center;
    margin-top: 30px;
    font-size: 1rem;
}
.cajas__titulos{
    color: #455A64;
}
.botones{
    background-color: #36dcf3;
    color: #FFFFFF;
    font-size: 1rem;
}
.caja__index_2{
    background-color: #CFD8DC;
    width: 350px;
    height: 370px;
    display:block;
    float: left;
    margin-left: 50px;
    border-radius: 5px;
}
.cuerpo__conocenos_img{
    background-color: #CFD8DC;
    width: 300px;
    height: 300px;
}
.prueba_1{
    background-color: #CFD8DC;
}
.cuerpo__conocenos_1{
    text-align: justify;
    background-color: #455A64;
    color: #FFFFFF;
    font-size: 1rem;
}
.cuerpo__conocenos_2{
    background-color: #CFD8DC;
    color: #212121;
    height: 4rem;
}
.cuerpo__conocenos_3{
    font-size: 1.2rem;
    color: #FFFFFF;
}
.cuerpo__conocenos_4{
    background-color: #455A64;
    color: #FFFFFF;
    text-align: justify;
    border-radius: 5px 5px 0 0;
}
.cuerpo__conocenos_mapa{
    border-color: #FFFFFF;
    background-color: #CFD8DC;
    border-radius: 0 0 5px 5px;
}
.cuerpo__container_sub{
    height: 60vh;
    width: 80vw;
}
.servicios__lista{
    margin-top: 20px;
    color: #212121;
}
.cuerpo__contactanos_1{
    color: #FFFFFF;
    font-size: 1.5rem;
}
.cuerpo__contactanos_img{
    width: 25rem;
    height: 24rem;
    background-color: #BDBDBD;
    border-radius: 0 0 5px 5px;
}
.formulario__general{
    width: 25rem;
    height: 24rem;
    background-color: #BDBDBD;
    border-radius: 5px 5px 0 0;
    font-size: 0.9rem;
}
.formulario__boton{
    margin-top: 10px;
    margin-left: 15px;
    width: 100px;
    height: 25px;
    border-radius: 5px;   
    border-width: 1px; 
}
#boton__enviar{
    background-color: #CFD8DC;
}
.cuerpo__contactanos_2{
    color: #FFFFFF;
    font-size: 2rem;
}
.pie__lista{
    display: inline;
    margin: 15px;
    padding-inline: 15px;
}
.pie__lista_menu{
    text-decoration: none;
    color: #CFD8DC;
}
.pie__lista_menu:hover{
    color: #36dcf3;
    text-decoration: underline;
}
.navegadorHeader{
    background: linear-gradient(to bottom, #212121, #607D8B);
    color: #CFD8DC;
}
.fondo{
    background-color: #607D8B;
    font-family: 'Montserrat', sans-serif;
}
.tituloServicio{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.350), rgba(0, 0, 0, 0.35)), url(./../assets/images/SERVICIOS.jpg);
    background-position: center;
    background-size: cover;
    height: 15vh;
    color: #FFFFFF;
}
.tituloEventos{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url(./../assets/images/EVENTOS.jpg);
    background-position: center;
    background-size: cover;
    height: 15vh;
    color: #FFFFFF;
}
.activo{
    text-decoration: underline;
}
.estiloServicio1{
    background-color: #CFD8DC;
    color: #212121;
}
.textoIntro_1{
    color: #FFFFFF;   
}
.titulos_bs{
    height: 15vh;
}
.fondoAcordion{
    background-color: #455A64;
    color: #ffffff;
    font-size: medium;
    font-weight: 400;
    transition: 1s;
}
.fondoAcordion:hover{
    background-color: #FFFFFF;
    color: #212121;
}
.fondoAcordion2A{
    background: linear-gradient(to left, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.80)), url(./../assets/images/nubes_servicios.jpg);
    background-position: 100% top;
    background-size: cover;
    font-weight: 500;
}
.fondoAcordion2B{
    background: linear-gradient(to left, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.80)), url(./../assets/images/nubes_servicios.jpg);
    background-position: 100% bottom;
    background-size: cover;
    font-weight: 500;
}
.bordeAcordion{
    border-color: #455A64;
}
.footer{
    background: linear-gradient(to top, #212121, #607D8B);
}
.linkFooter{
    display: none
}
.textoFooter{
    font-weight: 400;
    color: #CFD8DC;
}
.servicios_1{
    color: #ffffff;
}
.cuerpoCards{
    background-color: #CFD8DC;
}
.cuerpoCards:hover{
    background-color: #FFFFFF;
    transition: 2s;
}
.conocenos__container1{
    background-color: #455A64;
    color: #FFFFFF;
    text-align: justify;
    font-size: 1.3rem;
    /*
    font-size: 18px;
    width: 500px;
    height: 400px;
    */
}
@media (min-width: 768px){
.linkFooter{
    display: inline-block;
}
.titulos_bs{
    height: 35vh;
}
.cuerpo__conocenos_mapa{
    order: 1;
    border-radius: 5px 0 0 5px;
}
.cuerpo__conocenos_4{
    order: 2;
    border-radius: 0px 5px 5px 0px;
}
.cuerpo__contactanos_img{
    order: 1;
    border-radius: 5px 0 0 5px;
}
.formulario__general{
    order: 2;
    border-radius: 0 5px 5px 0;
}
}
