.conocenos__main{
    .conocenos__main_d1{
        .conocenos__main_d1_d{
            @include justify_align (center, center);
            .conocenos__main_d1_d_bloque1{
                @include justify_align (center, center);
                width: 25rem;
                height: 22rem;
                text-align: center;
                background-color: $colorDestacado;
                color: $colorTextoPrincipal;
                font-size: 1rem;
                border-radius: 5px 5px 0 0;
            }
            .conocenos__main_d1_d_d{
                width: 25rem;
                height: 22rem;
                @include justify_align (center, center);
                .conocenos__main_d1_d_d_img{
                    background: position 100% center;
                    object-fit: cover;
                    border-radius: 0 0 5px 5px;
                    width: 25rem;
                    height: 24rem;
                    border-radius: 0 0 5px 5px;
                }
            }
        }
    }
    .conocenos__main_d2{
        background-color: $colorBoton;
        color: $colorTitulos;
        height: 4rem;
        @include justify_align(center, center);
        transition: 0.5s;
        &:hover{
            background-color: $colorHover;
        }
    }
    .conocenos__main_d3{
        font-size: 1.2rem;
    }
    .conocenos__main_d4{
        .conocenos__main_d4_d{
            width: 80vw;
            @include justify_align(center, center);
            .conocenos__main_d4_d_texto{
                background-color: $colorDestacado;
                text-align: justify;
                border-radius: 5px 5px 0 0;
                @include justify_align(center, center);
                color: $colorTextoPrincipal;
                height: map-get($medidasvh, vh3)+8; /*Aplico mapa y operador SASS*/
            }
            .conocenos__main_d4_d_mapa{
                border-color: $colorDestacado;
                background-color: $colorContraste;
                border-radius: 0 0 5px 5px;
                height: map-get($medidasvh, vh3)+8;
            }
        }
    }
}