.footer{
    background-image: linear-gradient(to top, #1b0041, #002761, #004473, #005f79, #007979, #0b887c, #28977b, #45a677, #62b08a, #7db99d, #98c2af, #b2cbc0);
    .footer__d{
        .footer__d_d{
            .footer__d_d_d{
                display: none;
                .footer__d_d_d_ul{
                    .footer__d_d_d_ul_li{
                        display: inline;
                        margin: 15px;
                        padding-inline: 15px;
                        .footer__d_d_d_ul_li_a{
                            text-decoration: none;
                            color: $colorContraste;
                            &:hover{
                                color: $colorLink;
                                text-decoration: underline;
                            }
                        }
                    }
                }
                
            }
            .footer__d_d_texto{
                font-weight: 1rem;
                color: $colorDestacado;
            }
        }
    }
}