.header{
    .header__n{
        background-image: linear-gradient(to bottom, #1b0041, #0b3473, #00649c, #2395bd, #63c6d9);
        .header__n_d{
            .header__n_d_d{
                .header__n_d_d_u{
                    @include justify_align (space-around, center);
                    .header__n_d_d_u_l_1{
                        .header__n_d_d_u_l_activo{
                            text-decoration: underline;
                            color: $colorNav2;
                        }
                    }
                    .header__n_d_d_u_l_2{
                        .header__n_d_d_u_l_ancla{
                            color: $colorNav2;
                            &:hover{
                                text-decoration: underline;
                                font-weight: 500;
                                color: $colorLink;
                            }    
                        }
                    }
                }
            }
        }
    }
    .header__d{
        .header__d_d{
            .header__d_d_titulos{
                background:  linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./../assets/images/img_fondo_.png);
                background-position: 100% top;
                background-size: cover;
                color: $colorTitulos;
                height: map-get($medidasvh, vh1);
                @include justify_align(center, center)
            }
            .header__d_d_index{
                @extend .header__d_d_titulos;
                height: map-get($medidasvh, vh3);
                background-position: 100% center;
                .logoPrincipal{
                    width: 20rem;
                }
                .prueba{
                    @include justify_align(center, center);
                    font-size: 1rem;
                }
            }
        }
    }
}