.servicios__main{
    .servicios__main_d{
        .servicios__main_d_d{
            .servicios__main_d_d_boton{
                background-color: $colorBoton;
                color: $colorContraste;
                font-weight: 400;
                &:hover{
                    background-color: $colorHover;
                }
            }
            .servicios__main_d_d_b_d{
                .servicios__main_d_d_b_d_d{
                    .servicios__main_d_d_b_d_d_card{
                        background-color: $colorDestacado;
                        border-color: $colorTextoSecundario;
                        .servicios__main_d_d_b_d_d_c_lista{
                            background-color: $colorContraste;
                            color: $colorTextoSecundario;
                            .servicios__main_d_d_b_d_d_c_lista_ul{
                                .servicios__main_d_d_b_d_d_c_lista_ul_li{
                                    margin-top: 10px;
                                }
                            }
                        }
                    }
                    .servicios__main_d_d_b_d_d_card--2{
                        @extend .servicios__main_d_d_b_d_d_card;
                        background-color: $colorContraste;
                        .servicios__main_d_d_b_d_d_c_lista--2{
                            @extend .servicios__main_d_d_b_d_d_c_lista;
                            background-color: $colorDestacado;
                        }
                    }
                }
            }
        }
    }
}