$largoTitulos: 12vh;
$colorTitulos: #ffffff;
$colorDestacado: #CFD8DC;
$colorTextoPrincipal: #212121;
$colorTextoSecundario: #455A64;
$colorHipervinculoHover: #03A9F4;
$colorFondo: #ffffff;
$colorFondoElementos: #dee8ec;
$colorContraste: #ffffff;
$colorBoton: #027ab2;
$colorLink: #303F9F;
$colorNav: #212121;
$colorNav2: #ffffff;
$colorHover: #03A9F4;
